{% extends 'sublayout_frontend.html.twig' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="accordion1" class="panel-group accordion">
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion11" class="active" aria-expanded="true"> <span class="open-sub"></span> <strong>Bagaimana Cara Memesan?</strong></a> </div>
                            <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
                                <div class="panel-content">
                                    <p>Anda Harus daftar terlebih dahulu , pilih menu gallery, pilih add to cart barang yang akan dipesan jika cocok process to checkout</p>
                                    {#<p>Accusantium a laboriosam cumque consequatur voluptates fuga assumenda corporis amet. Vitae placeat architecto ipsa cumque fugiat, atque molestiae perferendis quasi quaerat iste voluptate quas dicta corporis, incidunt quibusdam quia odit unde, rem harum quis! Optio debitis veniam quibusdam, culpa quia, aperiam cupiditate perspiciatis repellat similique saepe magnam quaerat iusto obcaecati doloremque, dolor praesentium.</p>#}
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a class="collapsed" data-parent="#accordion1" data-toggle="collapse" href="#accordion12" aria-expanded="false"> <span class="open-sub"></span> <strong>Metode Pembayaran apa saja yang terdapat di prinoo?</strong></a> </div>
                            <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="false" style="height: 0px;">
                                <div class="panel-content">
                                    <p>Untuk sementara, anda hanya bisa transfer via bri</p>
                                    {#<p>Accusantium a laboriosam cumque consequatur voluptates fuga assumenda corporis amet. Vitae placeat architecto ipsa cumque fugiat, atque molestiae perferendis quasi quaerat iste voluptate quas dicta corporis, incidunt quibusdam quia odit unde, rem harum quis! Optio debitis veniam quibusdam, culpa quia, aperiam cupiditate perspiciatis repellat similique saepe magnam quaerat iusto obcaecati doloremque, dolor praesentium.</p>#}
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> <strong>Apakah Saya dapat membatalkan order?</strong></a> </div>
                            <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>setelah pembayaran kami terima, order anda akan diproses. namun sebelum diproses anda masih dapat melakukan revisi</p>
                                    {#<p>Accusantium a laboriosam cumque consequatur voluptates fuga assumenda corporis amet. Vitae placeat architecto ipsa cumque fugiat, atque molestiae perferendis quasi quaerat iste voluptate quas dicta corporis, incidunt quibusdam quia odit unde, rem harum quis! Optio debitis veniam quibusdam, culpa quia, aperiam cupiditate perspiciatis repellat similique saepe magnam quaerat iusto obcaecati doloremque, dolor praesentium.</p>#}
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion14" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> <strong>Kapan Pesanan saya tiba?</strong></a> </div>
                            <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>Diperlukan waktu 7-10 hari kerja (tidak termasuk hari Sabtu, Minggu dan hari libur) untuk memproses pesananmu dan mengirimnya.</p>
                                    {#<p>Accusantium a laboriosam cumque consequatur voluptates fuga assumenda corporis amet. Vitae placeat architecto ipsa cumque fugiat, atque molestiae perferendis quasi quaerat iste voluptate quas dicta corporis, incidunt quibusdam quia odit unde, rem harum quis! Optio debitis veniam quibusdam, culpa quia, aperiam cupiditate perspiciatis repellat similique saepe magnam quaerat iusto obcaecati doloremque, dolor praesentium.</p>#}
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion15" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> <strong>Apa yang harus saya lakukan apabila pesanan saya tiba dalam kondisi rusak/cacat?</strong></a> </div>
                            <div id="accordion15" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>Jangan khawatir! Apabila produk yang diterima dalam kondisi rusak atau cacat, kamu dapat mengembalikannya dalam waktu maksimal 7 hari setelah menerima produk.</p>
                                    {#<p>Accusantium a laboriosam cumque consequatur voluptates fuga assumenda corporis amet. Vitae placeat architecto ipsa cumque fugiat, atque molestiae perferendis quasi quaerat iste voluptate quas dicta corporis, incidunt quibusdam quia odit unde, rem harum quis! Optio debitis veniam quibusdam, culpa quia, aperiam cupiditate perspiciatis repellat similique saepe magnam quaerat iusto obcaecati doloremque, dolor praesentium.</p>#}
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion16" class="collapsed" aria-expanded="false"> <span class="open-sub"></span> <strong>Bagaimana cara mengajukan retur barang?</strong></a> </div>
                            <div id="accordion16" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                                <div class="panel-content">
                                    <p>Kami memberikan 100% jaminan kepuasan. Apabila produk yang diterima dalam kondisi rusak atau cacat, kamu dapat mengembalikannya dalam waktu maksimal 7 hari setelah menerima produk.</p>
                                    {#<p>Accusantium a laboriosam cumque consequatur voluptates fuga assumenda corporis amet. Vitae placeat architecto ipsa cumque fugiat, atque molestiae perferendis quasi quaerat iste voluptate quas dicta corporis, incidunt quibusdam quia odit unde, rem harum quis! Optio debitis veniam quibusdam, culpa quia, aperiam cupiditate perspiciatis repellat similique saepe magnam quaerat iusto obcaecati doloremque, dolor praesentium.</p>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- divider: what makes us different -->
    <section class="divider parallax layer-overlay overlay-white-9" data-parallax-ratio="0.1" data-bg-img="http://placehold.it/1920x1280">
        <div class="container">
            <div class="section-content text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mt-0">Did not find your answer?</h3>
                        <h2>Just call at <span class="text-theme-color-2">(+62)82245655117</span> for emergency service</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

