{% extends 'layout_frontend.html.twig' %}

{% block subLayout %}
    <section id="home" class="fullscreen bg-lightest">
        <div class="display-table text-center">
            <div class="display-table-cell">
                <div class="container pt-0 pb-0">
                    <div class="row">
                        <div class="col-md-12">
                            {#<h1 class="font-200 line-height-1em mt-0 mb-0 text-theme-color-2">404!</h1>#}
                            <h2 class="mt-0">PEMESANAN SUKSES!</h2>
                            {#<p>The page you were looking for could not be found.</p>#}
                            <a class="btn btn-border btn-gray btn-transparent btn-circled" href="{{ path('app_home_index') }}">Return Home
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}