{% extends 'sublayout_backend.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">
                        <center>Edit Proses Pemesanan</center>
                    </h3>
                </div>
                <div class="row">
                    <form method="post">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <label>Belum Diproses</label>
                                <input type="radio" name="proses" id="" class="form-control" value="0" {% if data.isProses is defined and not null %}{% if data.isProses == 0 %}checked{% endif %}{% endif %}>
                            </div>
                            <div class="col-md-4">
                                <label>Sedang Diproses</label>
                                <input type="radio" name="proses" id="" class="form-control" value="1" {% if data.isProses is defined and not null %}{% if data.isProses == 1 %}checked{% endif %}{% endif %}>
                            </div>
                            <div class="col-md-4">
                                <label>Sudah Diproses</label>
                                <input type="radio" name="proses" id="" class="form-control" value="2" {% if data.isProses is defined and not null %}{% if data.isProses == 2 %}checked{% endif %}{% endif %}>
                            </div>
                        </div>
                        <button class="btn btn-primary waves-effect">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}