{% extends 'sublayout_backend.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0"><center>Daftar Seluruh Pengguna</center></h3>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Nama</th>
                                    <th>Email</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                             {% if data|length > 0 %}
                             {% set i = 1 %}
                             {% for dat in data %}
                                 <tr>
                                     <td>{{ i }}</td>
                                     <td>{{ dat.firstname }}{{ dat.lastname }}</td>
                                     <td>{{ dat.email }}</td>
                                     <td></td>
                                 </tr>
                                 {% set i = i + 1 %}
                             {% endfor %}
                             {% else %}
                                 <tr>
                                     <td colspan="4">Tidak ada data</td>
                                 </tr>
                             {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customJS %}
    <script>
        $('#myTable').dataTable();
    </script>
{% endblock %}