{% extends 'sublayout_backend.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">Daftar Pembayaran</h3>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Nama Pembayar</th>
                                <th>Email Pembayar</th>
                                <th>Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if data|length > 0 %}
                                {% set i = 1 %}
                                <tr>
                                    <td>{% if data.namaPembayar is defined and not null %}{{ data.namaPembayar }}{% endif %}</td>
                                    <td>{% if data.emailPembayar is defined and not null %}{{ data.emailPembayar }}{% endif %}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% set i = i + 1 %}
                            {% else %}
                                <tr>
                                    <td colspan="4">Tidak ada data</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}